[submodule "demos/firmware/color_led_cycle/app/crazyflie-firmware"]
	path = demos/firmware/color_led_cycle/app/crazyflie-firmware
  url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/hybrid/christmas_tree/app/crazyflie-firmware"]
	path = demos/hybrid/christmas_tree/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/firmware/generic_led_cycle/app/crazyflie-firmware"]
	path = demos/firmware/generic_led_cycle/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/firmware/color_led_effects/app/crazyflie-firmware"]
	path = demos/firmware/color_led_effects/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/firmware/color_led_shake/app/crazyflie-firmware"]
	path = demos/firmware/color_led_shake/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/firmware/multiranger_wall_following/app/crazyflie-firmware"]
	path = demos/firmware/multiranger_wall_following/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/firmware/multiranger_push/app/crazyflie-firmware"]
	path = demos/firmware/multiranger_push/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "demos/hybrid/appchannel_test/app/crazyflie-firmware"]
	path = demos/hybrid/appchannel_test/app/crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
